body {
  & > .dropdown-menu, & > .ui-select-bootstrap.open {
    z-index: 5000;
  }
}

md-backdrop._md-dialog-backdrop {
  z-index: 1700;
  opacity: .9;
}

.md-dialog-container {
  z-index: 2000;
}

md-dialog {
  border-radius: 10px;
  width: 742px;
  height: calc(100vh - 80px);
  max-height: 90vh;
  overflow-y: hidden;
  background: none;

  .md-icon-button {
    md-icon {
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
  }

  .add-file {
    label {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    input[type=file] {
      display: none;
    }
  }

  md-toolbar {
    transition: all 1s;
    min-height: 50%;

    .md-toolbar-tools {
      height: 80px;
      padding: 0 30px;
    }

    &.compact {
      //flex: 0;
      min-height: 80px;
      height: 80px;

      .md-toolbar-tools {
        min-height: 80px;
      }
    }

    .md-fab {
      position: absolute;
      right: 30px;
      bottom: -26px;
    }

    .header {
      text-align: center;

      h2 {
        font-weight: 100;
        font-size: 34px;
        margin: 20px 0 40px;
      }

      md-icon {
        font-size: 100px;
        width: 100px;
        height: 100px;
      }
    }

    .header-nav {
      line-height: 64px;

      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .md-button {
        text-transform: uppercase;
        opacity: .7;
        font-size: 12px;
      }
    }
  }

  md-dialog-content {
    position: relative;
    //overflow-y: scroll;
    overflow: auto;
    padding: 45px;
    background-color: white;

    &.expand {
      flex: 1;
    }

    &.list-content {
      //overflow: auto;
      z-index: 10;
    }

    md-content {
      transition: all .3s;
      position: absolute;
      width: 100%;
      min-height: 100%;
      left: 0;
      top: 0;
      //padding: 25px 25px 25px;
      padding: 45px;
      transform: translateZ(0);
      opacity: 1;
      overflow: visible;

      &.ng-enter.ng-enter-active {
        opacity: 1;
        transform: translateZ(0);
      }

      &.ng-enter,
      &.ng-leave-active {
        opacity: 0;
        transform: scale(.5);
      }

      & > md-list {
        margin: 0 -45px;
      }
    }
  }

  form > .layout-row.layout-margin.form-actions {
    margin-top: 25px;
  }

  &.import-modal {
    md-dialog-content {
      .instructional-text {
        margin-bottom: 20px;
        line-height: 20px;
      }
    }

    //.animate-if {
    //  height: 100%;
    //}

    .success-message {
      font-weight: 100;
      font-size: 34px;
      margin: 0 50px;
      text-align: center;
    }
  }

  &.confirm-modal {
    width: 525px;
    height: auto;

    md-dialog-content {
      min-height: 180px;
      overflow-y: hidden;
      padding: 30px;

      //.instructional-text {
      //  padding: 25px;
      //  font-size: 16px;
      //}
    }

    .hc-button {
      min-width: 120px;
      margin-left: 5px;

      button {
        width: 120px;
        font-size: 12px;
        height: 34px;
      }
    }
  }

  ::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }
  ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: $dusty-gray;
    box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05), inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  }
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}